html,body {
  background-color: black !important;
  max-width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none !important;
}

@font-face {
  font-family: 'POM';
  src: url(../fonts/POM.otf) format('opentype');
}
.navbar-links{
display: flex;
justify-content: center;
}

.nav-item{
  font-size: 6rem;
  color: white !important;
  font-family: "POM" !important;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

ul.nav a:hover{
  color: rgb(255, 0, 0) !important;
  transition: all 300ms ease-in-out 200ms !important; 
}
/*hamburger menu for nav bar*/
.toggle-button {
/* to position menu on the top right but not in corner  */
position: absolute;
top: .75rem;
right: 1rem;
/* to not have it shown on normal size */
display: none;
/* setting the nav links when opened.  */
flex-direction: column;
justify-content: space-between;
width: 3rem;
height: 1.5rem;
}

.toggle-button .bar{
height: 5px;
width: 100%;
background-color: white;
border-radius: 10px;
}

#friends {
margin-top: -0.01rem;
}

#about{
margin-left: 1rem;
}


@media only screen and (max-width: 760px){
/* display the hamburger when on mobile */
.toggle-button{
  display: flex;
}
/* hide the nav bar when on mobile */
.navbar-links{
  display: none;
  width: 100%;
}

.navbar-links.active{
  display: flex;
}

.heading.active{
  margin-top: -2rem !important;
}

.navbar-links ul{
  padding: 3rem;
  flex-direction: column;
  width: 100%;
}

.nav-item {
  text-align: center;
  font-size: 3rem;
  width: 100%;
  padding: .01rem .01rem;
}

#about{
  margin-left: 0rem;
}

}
@media only screen and (min-width: 760px) and (max-width: 1000px){
.nav-item{
  font-size: 4rem;
}
}

@media only screen and (max-width: 1280px) {
.heading{
  font-size: 5rem;
}
}

main{
  padding: 0;
}

.top{
  display: inline-block;
  color: white;
  font-size: 1.5rem;
  margin: 2rem;
}

.circular-image {
  border-radius: 40%;
  width: 284px;
  height: 407px;
  float: left;
}

.bio{
  text-align: center;
  position: relative;
  margin-top: 5rem;
}

.info{
  text-align: center;
}
table{
  margin: auto;
  
}
th{
  color: white;
  font-size: 3rem;
  text-decoration: white wavy underline;
  padding-right: 1rem;
}

td{
  color: aqua;
  font-size: 2rem;
  text-decoration: underline;
  padding-right: 2rem;
}

.cert{
  margin: 4rem;
  box-shadow:0 0 20px 20px white;
}
header{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header
  {
    font-size: 10rem;
    color: white !important;
    text-decoration: underline;
    position: relative;
    background-color: black;
  }


.header::after{
  content: "  |";
  position: absolute;
  right: 0;
  color: white;
  background-color: black;
  width: 100%;
  animation: typing 2s steps(14) alternate infinite,
             line 1s infinite;
}

@keyframes typing {
  to{
    width: 0%;
  }
}

@keyframes line {
  50%{
    color: transparent;
  }
} 


@media (max-width: 600px) {
  table {
    width: 100%;
  }
  th, td {
    display: block;
    text-align: center;
    padding: 0;
    font-size: 1.5rem;
  }
  .header{
    font-size: 2.5rem;
    margin-top: 3rem;
  }
  .bio{
    font-size: 1rem;
  }
  .circular-image {
    width: 100%;
}
  .cert{
    width: 100%;
    margin: 0rem;
    padding: 1rem;
    box-shadow: none;
  }
}