html {
    overflow: hidden; 
    height: 100%;
}

body {
    background-color: black !important;
    min-height: 100%;
}

@font-face {
    font-family: 'PASTOROF';
    src: url(../fonts/Pastor\ of\ Muppets.TTF) format('truetype');
}

@font-face {
    font-family: 'POM';
    src: url(../fonts/POM.otf) format('opentype');
}
    
.parent {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.bg { 
    grid-area: 1 / 1 / 5 / 12;  
    background: url(../images/bypass4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110vh;
    background-position: top;
    background-color: black;
}

.div2 { 
    grid-area: 3 / 5 / 4 / 8;
    border: 2px solid white;
}
.div3 { 
    grid-area: 3 / 9 / 4 / 11;
    border: 2px solid rgb(174, 9, 9);
}
.div4 { 
   grid-area: 3 / 2 / 4 / 4;
    border: 2px solid rgb(12, 87, 207);
}

p {
    color: white;
    font-size: 10vw;
    font-family: 'POM';
}

.parent a {
    color: #FFFFFF;
    text-decoration: none;
}

.parent a:hover {
    color: red;
    transition: all 750ms ease-in-out 250ms;
}

.media{
    text-align: center;
}

