body {
    overflow: hidden;
    background-color: black;
  }
  
@font-face {
    font-family: 'PASTOROF';
    src: url(../fonts/Pastor\ of\ Muppets.TTF) format('truetype');
}

@font-face {
    font-family: 'reverse6';
    src: url(../fonts/reverse6.otf) format('opentype');
}

.nav-item{
    font-size: 250%;
    color: purple !important;
  }

.reggie {
    font-family: 'PASTOROF' !important;
}

.nav-link {
    font-family: 'reverse6';
}

.about {
    margin-top: -5%; 
    margin-right: 10%;
}

  h1{ 
    color: white;
  }

