body {
    overflow: hidden;
    background-color: black;
  }
  
@font-face {
    font-family: 'POM';
    src: url(../fonts/POM.otf) format('opentype');
}

.nav-item{
    font-size: 6rem;
    color: white !important;
    font-family: "POM";
    text-decoration: none;
  }

.nav-item{
    padding-left: 1rem;;
    padding-right: 1rem;;
  }

  ul.nav a:hover { 
    color: rgb(255, 0, 0) !important;
    transition: all 300ms ease-in-out 200ms; 
  }

#friends {
  margin-top: -0.01rem;
}

#about{
  margin-left: 1rem;
}


  h1{ 
    color: white;
  }

