body {
  overflow: hidden;
  background-color: rgb(25, 67, 105)!important;
}

a:hover {
  text-decoration: none !important;
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  flex-direction: column;
}

.container {
  display: block;
  
}

.row {
  justify-content: center;
}
  
.text-white {
  border: 0.159vw solid white;
  border-radius: 20px;
  font-size: 4rem;
  font-family: silkscreen !important;
  text-align: center;
  margin-bottom: 25%;
  margin-top: -15%;
  white-space: nowrap;
  /* position: absolute; */
  /* top: 33%;     This sets it 33% from top */
  /* left: 50%;      left, margin-right, and transform will center it horizontally */
  /* margin-right: -50%; */
  /* transform: translate(-50%, -50%); */
}

.enter {
  border: 0.159vw solid white;
  border-radius: 20px;
  color: white !important;
  font-size: 2.56vw;
  font-family: silkscreen !important;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 4rem;
  transition: all 150ms linear 500ms;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  /* position: absolute; */
  /* top: 55%; */
  /* left: 50%; */
  /* margin-right: -90%; */
  /* transform: translate(-50%, -50%); */
}

.enter:hover {
  background-color: rgba(238, 238, 238, 0.568);
  cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 375px) { /*iphone 5/SE*/
  .enter {
    padding-left: .3rem;
    padding-right: .3rem;
    margin-top: 6rem;
    margin-bottom: 5rem;
    font-size: large !important;
  }
  .text-white {
    padding-left: .3rem;
    padding-right: .3rem;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: -1rem;
    font-size: 1.1rem !important;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) { /*for iphone 5 landscape*/
  .text-white {
    padding-left: .3rem;
    padding-right: .3rem;
    font-size: 1rem;
    margin-top: -3rem;
    margin-bottom: 2rem;
    font-size: 1.1rem !important;
  }
  .enter{
    padding-left: .3rem;
    padding-right: .3rem;
    margin-top: 1rem;
    margin-bottom: -1rem;
}
}

@media only screen and (min-width: 375px) and (max-width: 430px) { /*Iphone 6/7/8 and X */
  .text-white{
    font-size: 1.3rem !important;
    margin-bottom: 6rem;
    margin-top: 1rem;
    padding-left: .3rem;
    padding-right: .3rem;
  }
  .enter{
    font-size: larger;
    padding-left: .3rem;
    padding-right: .3rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
  }
}

@media only screen and (min-width: 660px) and (max-width: 926px) {/*for iphone 6-X landscape and tablets*/
  .text-white{
    font-size: 1.3rem !important;
    margin-bottom: 8rem;
    margin-top: -2rem;
    padding-left: .3rem;
    padding-right: .3rem;
  }
  .enter{
    font-size: larger;
    padding-left: .3rem;
    padding-right: .3rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
  }
}


@media only screen and (max-width: 1920px) and (min-width: 1280px) { /*Generic desktop*/
  .text-white{
    font-size: 3rem !important;
    margin-bottom: 8rem;
    margin-top: -2rem;
    padding-left: .3rem;
    padding-right: .3rem;
  }
  .enter{
    font-size: 3rem !important;
    padding-left: .3rem;
    padding-right: .3rem;
    margin-top: 3rem;
    margin-bottom: 6rem;
  }
}

@media only screen and (max-width: 3075px) and (min-width: 3000px) { /*macbook pro 16inch*/
  .text-white{
    font-size: 6rem !important;
    margin-bottom: 10rem;
    margin-top: -4rem;
    padding-left: .3rem;
    padding-right: .3rem;
  }
  .enter{
    font-size: 6rem !important;
    padding-left: .3rem;
    padding-right: .3rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding-bottom: .5rem;
  }
}

@media only screen and (max-width: 3890px) and (min-width: 3840px) { /*4k display*/
  .text-white{
    font-size: 6rem !important;
    margin-bottom: 12rem;
    margin-top: -6rem;
    padding-left: .3rem;
    padding-right: .3rem;
  }
  .enter{
    font-size: 6rem !important;
    padding-left: .3rem;
    padding-right: .3rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding-bottom: .5rem;
  }
}

@media only screen and (min-width: 5000px) { /*4k display*/
  .text-white{
    font-size: 6rem !important;
    margin-bottom: 14rem;
    margin-top: -10rem;
    padding-left: .3rem;
    padding-right: .3rem;
  }
  .enter{
    font-size: 6rem !important;
    padding-left: .3rem;
    padding-right: .3rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
    padding-bottom: .5rem;
    color: aqua !important;
  }
}