
html {
    overflow: hidden; 
    height: 100%;
    background-color: black !important;
}

body{
    background-color: black !important;
    
}

main{
    background-color: black !important;
    background: url(../images/bypass4.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100vh;
    height: 100%;
}



@font-face {
    font-family: 'PASTOROF';
    src: url(../fonts/Pastor\ of\ Muppets.TTF) format('truetype');
}

@font-face {
    font-family: 'POM';
    src: url(../fonts/POM.otf) format('opentype');
}

:root {
    --shadow: #ff6a00;
    --shadow2: rgb(255, 4, 4);
    --shadow3: rgb(103, 246, 103);
  }
p {
    color: white;
    font-size: 10vw;
    font-family: 'POM';
    text-shadow: 
    8.75px 8.75px var(--shadow2),
    8.5px 8.5px var(--shadow2),
    8.25px 8.25px var(--shadow2),
    8px 8px var(--shadow2),
    7.75px 7.75px var(--shadow2),
    7.5px 7.5px var(--shadow2),
    7.25px 7.25px var(--shadow2),
    7px 7px var(--shadow2),
    6.75px 6.75px var(--shadow2),
    6.5px 6.5px var(--shadow2),
    6.25px 6.25px var(--shadow2),
    6px 6px var(--shadow2),
    5.75px 5.75px var(--shadow2),
    5.5px 5.5px var(--shadow2),
    5.25px 5.25px var(--shadow2),
    5px 5px var(--shadow2),
    4.75px 4.75px var(--shadow2),
    4.5px 4.5px var(--shadow2),
    4.25px 4.25px var(--shadow2),
    4px 4px var(--shadow2),
    3.75px 3.75px var(--shadow2),
    3.5px 3.5px var(--shadow2),
    3.25px 3.25px var(--shadow2),
    3px 3px var(--shadow2),
    2.75px 2.75px var(--shadow2),
    2.5px 2.5px var(--shadow2),
    2.25px 2.25px var(--shadow2),
    2px 2px var(--shadow2),
    1.75px 1.75px var(--shadow2),
    1.5px 1.5px var(--shadow2),
    1.25px 1.25px var(--shadow2),
    1px 1px var(--shadow2),
    0.75px 0.75px var(--shadow2),
    0.5px 0.5px var(--shadow2),
    0.25px 0.25px var(--shadow2);
  }



#link {
    color: #FFFFFF;
    text-decoration: none;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

#link:hover {
    color: red;
    transition: all 750ms ease-in-out 250ms;
}


 .row{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100vh;
  }

@media only screen and (max-width: 660px) {
p{
    font-size: 5rem;
}
main{
    background-size: 80vh;
}

.parent {
    position: relative;
}
.parent .row {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.media .about .friends{
    font-size: 5rem;
}
.div1{
    margin-top: 13rem;
    margin-bottom: -8rem;
}

.div2{
    margin-top: -2rem;
    margin-bottom: -4rem;
}
.div3{
    margin-top: -8rem;
    margin-bottom: -10rem;
}
}

@media (min-width: 390px) and (max-width: 660px) {
    .div1 p, .div2 p, .div3 p{
        font-size: 7rem;
    }
    .div1{
        margin-top: 22rem;
        margin-bottom: -10rem;
    }
    
    .div2{
        margin-top: -5rem;
        margin-bottom: -10rem;
    }
    .div3{
        margin-top: -9rem;
        margin-bottom: -8rem;
    }
}

@media only screen and (max-width: 770px) and (min-width:760px){
    main{
        background-size: 80vh;
    }
    .div1 p, .div2 p, .div3 p {
        font-size: 8rem;
    }
    .parent .row {
        position: absolute;
        bottom: 0;
        left: 53%;
        top: 40%;
        transform: translate(-50%, 0);
        display:block;
        justify-content: center;
        align-items: center;
    }
    .div1{
        margin-top: 4rem;
        margin-bottom: -3rem;
    }
    
    .div2{
        margin-top: 2rem;
        margin-bottom: -4rem;
    }
    .div3{
        margin-top: -4rem;
        margin-bottom: 5rem;
    }
}